---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				{% if site.lang == "en" %}
					Our Story
				{% elsif site.lang == "ja" %}
					設立理念
				{% endif %}
			</h1>
			<p class="subtext editable">
				{% if site.lang == "en" %}
					This is how we started.
				{% elsif site.lang == "ja" %}
					私たちがアプリを作り続ける理由
				{% endif %}
			</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>

		<div class="post-content">
			{% tf about.md %}
		</div>

		<ul class="staff">
			<li>
				<div class="square-image" style="background-image: url({{ site.baseurl }}/images/profile/takashi_profile.jpeg)"></div>
				{% if site.lang == "en" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/takashi-yabuta/">Takashi Yabuta</a></div>
					<div class="position">CEO</div>
				{% elsif site.lang == "ja" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/takashi-yabuta/">薮田隆司</a></div>
					<div class="position">CEO</div>
				{% endif %}
			</li>
			<li>
				<div class="square-image" style="background-image: url({{ site.baseurl }}/images/profile/jesse_profile.jpeg)"></div>
				{% if site.lang == "en" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/liangjesse/">Jesse Liang</a></div>
					<div class="position">CTO</div>
				{% elsif site.lang == "ja" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/liangjesse/">ジェシー・リアング</a></div>
					<div class="position">CTO</div>
				{% endif %}
			</li>
			<li>
				<div class="square-image" style="background-image: url({{ site.baseurl }}/images/profile/nishi_profile.jpeg)"></div>
				{% if site.lang == "en" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/daisuke-nishioka-9a5588189/">Daisuke Nishioka</a></div>
					<div class="position">Marketing</div>
				{% elsif site.lang == "ja" %}
					<div class="name"><a target="_blank" href="https://www.linkedin.com/in/daisuke-nishioka-9a5588189/">西岡大輔</a></div>
					<div class="position">マーケティング</div>
				{% endif %}
			</li>

		<!-- 	{% tf _staff_members/anna.md %} -->
			<!-- {% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %} -->
		</ul>
	</div>
</section>
