---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			{% if site.lang == "en" %}
				<h1 class="editable">Meet your friends today</h1>
				<p class="subtext editable">Unremote allows you to see your friends in Augmented Reality avatars. Meet your friends that you have not seen in a while in person.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			{% elsif site.lang == "ja" %}
				<h1 class="editable">友達と会いましょう</h1>
				<p class="subtext editable">アンリモートはAR(仮想現実)を使って人と会えるアプリです。しばらく会えてなかった人に電話して、会ってみましょう。</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			{% endif %}
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				{% if site.lang == "en" %}
					<h2 class="editable">Add your friend</h2>
					<p class="editable">Meeting people in person is hard these days. Add your friends on Unremote so that you can call them.</p>
				{% elsif site.lang == "ja" %}
					<h2 class="editable">友達を追加しましょう</h2>
					<p class="editable">直接会うのが難しいことがあるかもしれません。友達に追加しておけばいつでも電話できます。</p>
				{% endif %}
			</div>
			<div class="image">
				<img class="editable" src="./images/demo/call_page.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				{% if site.lang == "en" %}
					<h2 class="editable">Call your friend</h2>
					<p class="editable">Untemote allows you to meet your friends wherever you are, simply by calling them.</p>
				{% elsif site.lang == "ja" %}
					<h2 class="editable">電話しましょう</h2>
					<p class="editable">あなたがどこにいても、友達と会うことができます。アバターの友達に会ってみましょう。</p>
				{% endif %}
			</div>
			<div class="image">
				<img class="editable" src="./images/demo/meet_page.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section> -->

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				{% if site.lang == "en" %}
					<h2 class="editable">Meet your friend today</h2>
					<p class="subtext editable">It's fun and an exciting way to meet people.</p>
					<div class="cta button alt"><a href="#">Join Now</a></div>
				{% elsif site.lang == "ja" %}
					<h2 class="editable">会いたい人と会いましょう</h2>
					<p class="subtext editable">現実に会えなくても、アンリモートを使えば会えます。</p>
					<div class="cta button alt"><a href="#">Join Now</a></div>
				{% endif %}
			</div>
		</div>
	</section>
</div>
